/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Container */
.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

/* Heading */
h1 {
    margin-bottom: 20px;
}

/* Input Section */
.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
#addTaskBtn {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #218838;
}

#clearAllBtn {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#clearAllBtn:hover {
    background-color: #c82333;
}

/* Task List */
#taskList {
    list-style: none;
    margin-top: 20px;
}

#taskList li {
    padding: 10px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList li:hover {
    background: #dcdbdb;
}

#taskList button {
    border: none;
    background: red;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

#taskList button:hover {
    background: darkred;
}

/* Completed Task */
.completed {
    text-decoration: line-through;
    color: gray;
}